<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework.cloud.gateway" level="INFO"/>

    <appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/logs/quark-gateway.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/logs/quark-gateway.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>3000</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>

    <!-- 开发、测试环境 -->
    <springProfile name="dev,test">
        <logger name="org.springframework.cloud.gateway" level="trace"/>
        <logger name="org.springframework.http.server.reactive" level="DEBUG" />
        <logger name="org.springframework.web.reactive" level="DEBUG" />
        <logger name="reactor.ipc.netty" level="DEBUG" />
        <logger name="com.github.quark" level="DEBUG" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="RollingFileAppender" />
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="pro">
        <logger name="org.springframework.cloud.gateway" level="ERROR"/>
        <logger name="org.springboot.sample" level="ERROR" />
        <logger name="com.github.quark" level="INFO" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="RollingFileAppender" />
        </root>
    </springProfile>

</configuration>